body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  text-algin: center;
  background-color: #657383;
}

#centered {
  width: 430px;
  text-align: left;
  border: 0px;
  padding: 0;
  margin: 0 auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #FFFFFF;
  -moz-box-shadow: 10px 10px 12px #000;
  -webkit-box-shadow: 10px 10px 12px #000;
  box-shadow: 10px 10px 12px #000;
  position:relative;
}

.logo {
  margin:15px;
  z-index:100;
  position:absolute;
  top:0px;
  left:0px;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
 
  -moz-box-shadow: 10px 10px 12px #000;
  -webkit-box-shadow: 10px 10px 12px #000;
  box-shadow: 10px 10px 12px #000;
}

#animation {
  float:left; 
  z-index:0;
  
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  
  -moz-box-shadow: 10px 10px 12px #000;
  -webkit-box-shadow: 10px 10px 12px #000;
  box-shadow: 10px 10px 12px #000;
}
